<% provide(:title, 'Contact') %>
<% provide(:description, 'Let\'s chat about your next web project.') %>
<div class="w-full px-4 py-4 mx-auto space-y-12 max-w-7xl lg:px-0">
  <div class="grid gap-8 py-12 border-t lg:gap-12 lg:grid-cols-2">
    <h1 class="text-h2">Get in Touch</h1>
    <div>
      <p class="text-body-1">I’d love to hear about what you’re working on and how I could help. I’m currently looking for a new role and am open to a wide range of opportunities. My preference would be to find a position in a company in London. But I’m also happy to hear about opportunites that don’t fit that description. I’m a hard-working and positive person who will always approach each task with a sense of purpose and attention to detail. Please do feel free to check out my online profiles below and get in touch using the form.</p>
    </div>
  </div>
  <div class="grid gap-8 py-12 border-t lg:gap-12 lg:grid-cols-2">
    <h2 class="text-h2">Contact Me</h2>
    <div>
      <form action="" class="space-y-8">
        <div class="field">
          <label for="name" class="block mb-2 text-sm font-bold">Name</label>
          <input type="text" name="name" id="name" class="w-full h-12 p-4 bg-jb-gray-dk-blue bg-opacity-10">
        </div>
        <div class="field">
          <label for="email" class="block mb-2 text-sm font-bold">Email Address</label>
          <input type="email" name="email" id="email" class="w-full h-12 p-4 bg-jb-gray-dk-blue bg-opacity-10">
        </div>
        <div class="field">
          <label for="message" class="block mb-2 text-sm font-bold">Message</label>
          <textarea name="message" id="message" class="w-full p-4 h-86 bg-jb-gray-dk-blue bg-opacity-10"></textarea>
        </div>
        <button class="btn btn-secondary">Send Message</button>
      </form>
    </div>
  </div>

</div>
