<% provide(:title, 'CT Freelance Web Developer') %>
<% provide(:description, 'I am a CT based freelance web designer and full stack developer with 18 years of experience') %>
<div class="w-full px-4 py-4 mx-auto space-y-12 max-w-7xl lg:px-0">
  <div class="max-w-md p-12 shadow-lg">
    <h1 class="text-h1">Hi, I'm Josh and I love building beautfiul websites.</h1>
    <p class="text-body-1">I am a CT based freelance web designer and full stack web developer with 18 years of experience. I have a passion for creating beautiful and functional websites. I am currently looking for opportunities to design and build new websites and applications.</p>
    <a href="#" class="btn btn-secondary">TEST</a>
  </div>
</div>
