<div class="container px-4 py-4 mx-auto space-y-12 lg:px-0">
<div>
  <%= render '/shared/logo' %>
</div>
<div>
  <h1 class="font-bold">Future Portfolio Site</h1>
  <p>Nothing to see here until there's something to see here.</p>
</div>
</div>
