<header class="border-b border-gray-100 text-jb-gray-dk-blue">
  <div class="flex items-center justify-between w-full px-4 mx-auto h-28 max-w-7xl">
    <% if controller.action_name == 'home' %>
      <%= render '/shared/logo' %>
    <% else %>
      <a href="/" aria-label="Home page">
        <%= render '/shared/logo' %>
      </a>
    <% end %>
    <nav x-data="{menuIsVisible: false}" aria-label="Main Site Nav" class="relative flex items-center h-full">
      <button @click="menuIsVisible = !menuIsVisible" aria-label="Main Menu Toggle" class="lg:hidden">
        <span x-show="!menuIsVisible"><%= heroicon "menu", options: { class: "h-8 w-8" } %></span>
        <span x-show="menuIsVisible"><%= heroicon "x", options: { class: "h-8 w-8" } %></span>
      </button>
      <ul class="absolute right-0 z-20 p-6 space-y-6 text-sm text-white uppercase duration-200 origin-top-right transform lg:space-y-0 lg:gap-4 transition-trasnform bg-jb-gray-dk-blue lg:text-jb-gray-dk-blue lg:bg-white lg:relative lg:flex lg:items-center lg:h-full lg:top-0 lg:p-0 w-72 lg:w-auto"
        :class="menuIsVisible ? 'translate-y-0 top-20' : 'opcacity-0 lg:opacity-1 -translate-y-full lg:translate-y-0 top-0'"
      >
        <li class="flex items-center h-full"><a href="/" class="flex items-center w-full h-full hover:text-jb-cyan <% if controller.action_name == 'home' %>text-jb-cyan pointer-events-none<% end %>">Home</a></li>
        <li class="flex items-center h-full"><a href="/projects" class="flex items-center w-full h-full hover:text-jb-cyan <% if controller_name == 'projects' %>text-jb-cyan pointer-events-none<% end %>">Portfolio</a></li>
        <li class="flex items-center h-full"><a href="/contact" class="flex items-center w-full h-full hover:text-jb-cyan <% if controller.action_name == 'contact' %>text-jb-cyan pointer-events-none<% end %>">Contact</a></li>
      </ul>
    </nav>
    
  </div>
</header>