<header class="border-b border-gray-100 text-jb-gray-dk-blue">
  <div class="flex items-center justify-between w-full px-4 mx-auto h-28 max-w-7xl">
    <a href="/" aria-label="Home page">
      <%= render '/shared/logo' %>
    </a>
    <nav aria-label="Main Site Nav" class="flex h-full">
      <ul class="flex items-center h-full space-x-4 text-sm uppercase">
        <li class="flex items-center h-full"><a href="/" class="flex items-center h-full hover:text-jb-cyan">Home</a></li>
        <li class="flex items-center h-full"><a href="#" class="flex items-center h-full hover:text-jb-cyan">Portfolio</a></li>
        <li class="flex items-center h-full"><a href="/contact" class="flex items-center h-full hover:text-jb-cyan">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>