<div class="items-center space-y-10 md:flex md:space-y-0 md:space-x-12">
  <h3 class="text-center text-h2">Interested in doing <span class="md:block">a project together?</span></h3>
  <div aria-hidden="true" class="hidden h-px md:flex md:flex-grow bg-jb-form-gray"></div>
  <div class="flex justify-center">
    <a href="/contacts/new" class="btn btn-secondary">Contact Me</a>
  </div>
</div>