<% provide(:title, 'Email sent') %>
<% provide(:description, 'Let\'s chat about your next web project.') %>
<div class="w-full max-w-3xl p-4 mx-auto">
  <p class="mb-6 tracking-widest uppercase text-jb-cyan">Message Sent</p>
  <h1 class="mb-6 text-h1">Thank you for your message!</h1>
  <p class="mb-6">Thanks for taking the time to reach out to me. I will do my best to respond in a timely manner. If you would like to touch base sooner, please email me at <a href="mailto:devops@thebrileys.com" class="underline hover:no-underline hover:text-jb-cyan">devops@thebrileys.com</a></p>
  <a href="/projects" class="btn btn-secondary">Portfolio</a>
</div>