<div class="container">
  <div class="container">
    <br>
    <% flash.each do |key, message| %>
      <p class="alert alert-<%= key %>"><%= message %></p>
    <% end %>
  </div>
  <h1>Contact Form</h1>

  <h3>Thank you for your message!</h3>
</div>