<% provide(:title, "Edit #{@project.title}") %>
<% provide(:description, 'Edit details about this project') %>

<div class="w-full px-4 py-4 mx-auto space-y-12 max-w-7xl lg:px-0">
  <h1>Editing Project</h1>

  <%= render 'form', project: @project %>

  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %>
</div>