<% provide(:title, "Edit #{@project.title}") %>
<% provide(:description, 'Edit details about this project') %>

<div class="w-full px-4 py-4 pb-24 mx-auto space-y-12 max-w-7xl lg:px-0">
  <h1 class="text-h2">Editing <span class="text-jb-cyan"><%= @project.title %></span> Project</h1>

  <%= render 'form', project: @project %>

  <div class="my-12">
    <%= link_to 'Show', @project, class: 'btn btn-primary' %>
    <%= link_to 'Back', projects_path, class: 'btn btn-primary' %>
  </div>
</div>